.btn {
    font-size: 15px;
    padding: 12px 24px;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    width: 100%; 
    box-sizing: border-box;
    transition: box-shadow 0.1s, transform 0.1s;
    position: relative;
  }
  
  
.btn.important { 
    font-family: 'MinecraftTen';
    font-size: 20px;
    background-color: #5eac3b; 
    border: 2px solid #7ed957;
    box-shadow: 0 6px 0 #357226, 0 0px 0px;
    color: white; 
    text-shadow: 2px 2px 0 #357226, 0 2px 0 #357226, 2px 0 0 #357226;
}
.btn.important:active, .btn.important.sim-active {
    box-shadow: none !important;
    transform: translateY(2px);
}



.btn.default { 
    background-color: #eeeeee;  
    font-family: 'MinecraftRegular';
    border: 2px solid rgb(145, 145, 145);
    box-shadow: 0 6px 0 #6c6e6c, 0 0px 0px;
    color: #222; 
}

.btn:active,
.btn.sim-active {
  box-shadow: none !important;
  transform: translateY(2px);
}