.btn {
    font-size: 15px;
    padding: 12px 24px;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    width: 100%; 
    box-sizing: border-box;
    transition: box-shadow 0.1s, transform 0.1s;
    position: relative;
  }
  
  
.btn.green { 
    font-family: 'MinecraftTen';
    background-color: #5eac3b; 
    border: 2px solid #7ed957;
    box-shadow: 0 6px 0 #357226, 0 0px 0px;
    color: white; 
    text-shadow: 2px 2px 0 #357226, 0 2px 0 #357226, 2px 0 0 #357226;
}
.btn.green:active, .btn.green.sim-active {
    box-shadow: none !important;
    transform: translateY(2px);
}

.btn.red { 
    font-family: 'MinecraftTen';
    background-color: #d13b4a; 
    border: 2px solid #fa6d7b;
    box-shadow: 0 6px 0 #a52e3a, 0 0px 0px;
    color: white; 
    text-shadow: 2px 2px 0 #490f14, 0 2px 0 #490f14, 2px 0 0 #490f14;
}
.btn.red:active, .btn.red.sim-active {
    box-shadow: none !important;
    transform: translateY(2px);
}

.btn.purple { 
    font-family: 'MinecraftTen';
    background-color: #953bd1; 
    border: 2px solid #cc80ff;
    box-shadow: 0 6px 0 #782eaa, 0 0px 0px;
    color: white; 
    text-shadow: 2px 2px 0 #370f49, 0 2px 0 #370f49, 2px 0 0 #370f49;
}
.btn.purple:active, .btn.purple.sim-active {
    transform: translateY(2px);
}

.btn.default { 
    background-color: #eeeeee;  
    font-family: 'MinecraftRegular';
    border: 2px solid rgb(145, 145, 145);
    box-shadow: 0 6px 0 #6c6e6c, 0 0px 0px;
    color: #222; 
}

.btn:active,
.btn.sim-active {
  box-shadow: none !important;
  transform: translateY(2px);
}