.toggle-box {
  width: 68px;
  height: 32px;
  background: #444;
  border: 2px solid #000000; /* border exterior negru */
  box-shadow: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.toggle-box::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
  z-index: 1;
}
.toggle-slider {
  position: absolute;
  width: 32px;
  height: 32px;
  background: #ccc;
  border: 2px solid white; /* border negru */
  box-shadow: 0 5.5px 0 #585858, 0 0px 0px;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  left: 0;
  transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1), background 0.3s, box-shadow 0.3s;
}
.toggle-slider .toggle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
}
.toggle-box.on {
  background: #295c2a;
}
.toggle-box.on::before {
  left: 4px;
  background: #3a5;
  border: 2px solid #295c2a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle-box.off::after {
  font-family: 'MinecraftRegular';
  color: #1f1f1f;
  font-size: 20px;
  left: 44px;
  top: -1px;
  width: 24px;
  height: 24px;
  content: "o";
  z-index: 0;
}

.toggle-box.on::after{
    font-family: 'MinecraftTen';
    font-weight: 900;
    color: #abc2ac;
    font-size: 22px;
    left: 12px;
    top: -8px;
    width: 24px;
    height: 24px;
    content: "|";
    z-index: 0;
}
.toggle-box.disabled {
  cursor: not-allowed;
  opacity: 1;
  filter: none;
  background: #e0e0e0 !important;
  border-color: #cccccc !important;
  pointer-events: none;
}
.toggle-slider.disabled {
  cursor: not-allowed;
  opacity: 1;
  background: #f5f5f5 !important;
  border-color: #cccccc !important;
  box-shadow: 0 5.5px 0 #919191, 0 0px 0px;
}
.toggle-box.disabled::after,
.toggle-box.disabled::before {
  color: #bdbdbd !important;
}