@import 'tailwindcss';

@font-face {
  font-family: 'MinecraftRegular';
  src: url('/MinecraftRegular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinecraftTen';
  src: url('/MinecraftTen.ttf');
  font-weight: normal;
  font-style: normal;
}